#mobilebork {
  visibility: hidden;
  display: none;
}

* {
  font-family: 'Bungee', monospace;
  padding: 0px;
  margin: 0px;
}

div.world-container > div{
  border-width:1px;
  border-style:solid;
  border-color:white;
}

p {
  line-height: 1.3em;
}

body {
  margin: 0px;
  padding: 0px;
  min-width: 900px;
  min-height: 500px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow-y: hidden;
}

#main {
  padding: 0px;
  margin: 0px;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  min-height: 404px;
  max-height: 100%;
  overflow-y: hidden;
  color: white;
}

#colonies {
  padding: 0px;
  margin: 0px;
  width: 60px;
  height: 100vh;
  max-height: 100%;
  float: left;
  text-align: center;
}

.world-text {
  font-size: 10px;
}

.world-bar-item{
  margin-top: .7em;
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: lightgrey;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-right: 2px;
  margin-left: 2px;
}

.world-button-enabled{
  border-radius: 5px;
  background-color: grey;
}

#resources {
  background-color: black;
  float: left;
  height: 60%;
  min-height: 200px;
  max-height: 60%;
  width: 30%;
  min-width: 200px;
  overflow-y: auto;
  padding: 1em;
}

#buildings {
  background-color: black;
  float: left;
  height: 60%;
  min-height: 200px;
  max-height: 60%;
  width: 30%;
  min-width: 200px;
  overflow-y: auto;
  padding: 1em;
}

#upgrades {
  background-color: black;
  height: 60%;
  min-height: 200px;
  max-height: 60%;
  width: auto;
  min-width: 200px;
  overflow-y: auto;
  padding: 1em;
}

#visualize {
  background-color: black;
  height: 40%;
  min-height: 200px;
  max-height: 40%;
  width: auto;
  overflow-y: auto;
  padding: 1em;
}

.world-container-hidden{
  display: none;
}
#world-container-container{
  height: 100%;
  width: 100%;
}
.world-container-enabled{
  height: 100%;
  display: block;
}
